<!DOCTYPE html>
<html>
    <head>
        <title> Create An Account </title>
    </head>
    <body>
        <p id = "para"> Select Username </p>
        <input type = "text" id = "Username"> <br> <br>
        <p id = "para"> Select Password </p>
        <input type = "password" id = "Password"> <br> <br>
        <p id = "para"> Confirm Password </p>
        <input type = "password" id = "Password"> <br> <br>
        <input type = "button" id = "createAccountButon" value = "Create an accont!">
        
    </body>
</html>