<!DOCTYPE html>
<html>
    <head>
        <title> Failed to Create An Account </title>
    </head>
    <body>
        <form method = POST action = "/create-account-failed">
            <p id = "para"> Failed to create an account, please try again. </p>
            <input type = "submit" name = "returnToCreate" 
            value = "Click here to return to the create an account page!">
        </form>
        
        
    </body>
</html>