<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WearIt</title>
    <link rel = "stylesheet" type="text/css" href="login.css">
  </head>
  <body>
    <h2>Welcome to WearIt!</h2>
    <br>
    <div class="bod">
      <p>Discover new fashion</p>
      <ul>
        <li><a href="/create-account">Create Account</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </body>
</html>
