<!DOCTYPE html>
<html>
    <head>
        <title> Login Page </title>
    </head>
    <body>
        <form method = "POST" action = "/login">
            <p id = "para"> Username </p>
            <input type = "text" name = "Username"> <br> <br>
            <p id = "para"> Password </p>
            <input type = "password" name = "Password"> <br> <br>
            <input type = "submit" name = "signInButton" value = "Sign in!">
        </form>
        
    </body>
</html>