<!DOCTYPE html>
<html>
    <head>
        <title> Login Page </title>
        <link rel = "stylesheet" type="text/css" href="login.css">
    </head>
    <body>
        <h2>Login Page</h2><br>
        <div class = "bod">
            <form method = "POST" action = "/login">
                <p id = "para"> Username </p>
                <input type = "text" name = "Username"> <br> <br>
                <p id = "para"> Password </p>
                <input type = "password" name = "Password"> <br> <br>
                <input type = "submit" name = "signInButton" value = "Sign in!">
            </form>
        </div>
        
    </body>
</html>