<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>View Post</title>
  </head>
  <body>
    <p>Viewing Post</p>
    <p>Id: <%= data.id %></p>
    <p>Title: <%= data.title %></p>
    <p>User: <%= data.user %></p>
    <p>Image: <%= data.image %></p>
  </body>
</html>
