* {
  background: lightgray;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.post {
  border: 1px solid black;
  width: 60%;
  height: 100%;
  justify-content: left;
  margin: 10px;
}

.user {
  font-weight: bolder;
  font-size: 28px;
}

.content {
  margin: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: left;
}

.post-info {
  text-align: right;
  width: 100%;
  margin: 4px;
  padding-left: 0px;
  font-size: 24px;
  box-sizing: border-box;
}

.info-text {
  text-align: left;
  width: 60%;
  float: left;
  box-sizing: border-box;
  margin-top: auto;
}

.image-container {
  width: 50%;
  max-height: 600px;
  box-sizing: border-box;
  padding-top: 10px;
}

.image-container img {
  max-height: 100%;
  max-width: 100%;
  border: 2px solid #b1adad;
  border-radius: 10px;
}

.create-post {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 800px;
  min-height: 500px;
  text-align: center;
  border: 2px solid #fa2742;
  border-radius: 10px;
}

.create-post .image-container {
  padding-top: 30px;
}

p {
  padding: 20px;
}

h2 {
  padding: 20px;
}

hr {
  background-color: black;
  padding: 1px;
}

